<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>

</head>

<body>

  <p>
    <h1>{{title}}</h1>
    </br>
    <span>{{points}} | By: {{author}} | <a href="{{url}}">{{url}}</a></span>
    </br></br></br></br>
  </p>

  <p>
      {% for comment in comments %}
      <div>
        {% if comment.author != None %}
          <b>{{comment.author}}:</b>
          </br>
          <span>{{comment.text|safe}}</span>
        {% else %}
        <span>[deleted]</span>
        {% endif %}
        </br></br></br></br>
     </div>
      {% endfor %}
  </p>
</body>

</html>