<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

  <p>
    <h1>SeoDangCat News</h1>
    <div>
      Order by:<a href="/?order_by={{order[0]}}">Popular</a>|<a href="/?order_by={{order[1]}}">New</a>
    </div>
    </br></br></br></br>
  </p>

    {% for db in dbs %}
    <div>
      <p>
        <a href="/{{db.objectID}}" id = >{{db.title}}</a>(<a href = "{{db.url}}">{{db.url}}</a>)
        </br></br>
        {{db.points}} points | By: {{db.author}} | {{db.num_comments}} comments
        </br></br></br></br>
      </p>
    </div>
    {% endfor %} 


<body>
  
</body>

</html>