<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>
<h1>SeoDangCat News</h1>
<p>Order by:
    <a href="/?order_by={{order[0]}}">Popular</a>|<a href="/?order_by={{order[1]}}">New</a>
</p>
<section>
    {% for db in dbs %}
    <span>{{db.title}}(<a href = "{{db.url}}">{{db.url}}</a>)</span>
    <span>{{db.points}} points | By: {{db.author}} | {{db.num_comments}} comments</span>
    {% endfor %} 
</section>

<body>
  
</body>

</html>